{% extends 'layout.html' %}
{% block content %}
<div id="video-holder" class="row-fluid video-wrapper">
  <div class="span4 video">
    <video class="vid" id="video_0" width="100%" height="100%" preload="auto" poster="{{ vids[0].poster }}">
      <source id="video_0_src" src="{{ vids[0].video }}" type="video/mp4">
    </video>
    <div class="av">
      <a id="video_0_url" class="link" href="{{ vids[0].url }}"><img id="video_0_avatar" class="avatar" src="{{ vids[0].avatar }}"></a>
      <span class="text"><strong><a id="video_0_url" class="link" href="{{ vids[0].url }}"><span id="video_0_username">{{ vids[0].username }}</span></strong> - <span id="video_0_tagline">{{ vids[0].tagline }}</span></a></span>
    </div>
  </div>
  <div class="span4 video">
    <video class="vid" id="video_1" width="100%" height="100%" preload="auto" poster="{{ vids[1].poster }}">
      <source id="video_1_src" src="{{ vids[1].video }}" type="video/mp4">
    </video>
    <div class="av">
      <a id="video_1_url" class="link" href="{{ vids[1].url }}"><img id="video_1_avatar" class="avatar" src="{{ vids[1].avatar }}"></a>
      <span class="text"><strong><a id="video_1_url" class="link" href="{{ vids[1].url }}"><span id="video_1_username">{{ vids[1].username }}</span></strong> - <span id="video_1_tagline">{{ vids[1].tagline }}</span></a></span>
    </div>
  </div>
  <div class="span4 video">
    <video class="vid" id="video_2" width="100%" height="100%" preload="auto" poster={{ vids[2].poster }}>
      <source id="video_2_src" src="{{ vids[2].video }}" type="video/mp4">
    </video>
    <div class="av">
      <a id="video_2_url" class="link" href="{{ vids[2].url }}"><img id="video_2_avatar" class="avatar" src="{{ vids[2].avatar }}"></a>
      <span class="text"><strong><a id="video_2_url" class="link" href="{{ vids[2].url }}"><span id="video_2_username">{{ vids[2].username }}</span></strong> - <span id="video_2_tagline">{{ vids[2].tagline }}</span></a></span>
    </div>
  </div>
</div>

<div class="searchbar">
  <form class="form" action="/vine" method="GET">
    <input id="keywords" type="text" name="keywords" value="{{ query }}">
    <button type="submit" class="submit" style="display: none;"></button>
  </form>
  <div class="refresh">
    <i class="icon-refresh"></i>
  </div>
  <a class="vine-v" href="/"></a>
  <div class="play playVideos">
    <i class="icon-play"></i>
    <i class="icon-pause"></i>
  </div>
  <div class="semi-circle">
    <i class="icon-twitter"></i>
    <div class="share-container">
      <div class="share-bubble">
      <div class="twitter-share-container">
        <div class="twitter-share">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://throughthevine.me/share/{{id}}" data-size="large" data-text="View {{query}} Vine Videos at">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
        <div id="copy-button" data-clipboard-text="http://throughthevine.me/share/{{ id }}" class="btn btn-primary">Copy Link</div>
      </div>
    </div>
  </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/ZeroClipboard.min.js"></script>
<script>
var page = 2;

var clip = new ZeroClipboard(document.getElementById("copy-button"), {
  moviePath: "/swf/ZeroClipboard.swf"
});


var replaceVid = function (video, data) {
  $(video).attr('poster', data.poster);
  $(video + '_src').attr('src', data.video);
  $(video + '_src').attr('href', data.video);
  $(video).load();
  $(video + '_url').attr('src', data.url);
  $(video + '_url').attr('href', data.url);
  $(video + '_avatar').attr('src', data.avatar);
  $(video + '_avatar').attr('href', data.avatar);
  $(video + '_username').text(data.username);
  $(video + '_tagline').text(data.tagline);
};

var replaceVids = function (data) {
  replaceVid('#video_0', data.vids[0]);
  replaceVid('#video_1', data.vids[1]);
  replaceVid('#video_2', data.vids[2]);
};


$('.semi-circle').on('click', function (e) {
  e.preventDefault();
  $('.share-bubble').toggle();
});

$('.refresh').on('click', function (e) {
  $.ajax({
    url: '/vine/page?keywords=' + encodeURI("{{query}}") + '&page=' + page,
    contentType: 'application/json',
    success: function (data) {
      if (data.hasOwnProperty('error')) {
        $('#keywords').val('not enough results');
      } else {
        replaceVids(data);
        page++;
      }
    },
    error: function (error){
      console.log('giant error');
    }
  });
  $('.playVideos').removeClass("play-trigger");
  $('#copy-button').attr('data-clipboard-text', 'http://throughthevine.me/share/' + "{{id}}");
});

$('.vid').on('click', function (e) {
  e.preventDefault();
  playVideo(this);
});

var playVideo = function (el) {
  if (!el) { return; }
  if (el.getAttribute('controls') !== 'true') {
      el.setAttribute('controls', 'true');
  }
  el.paused ? el.play() : el.pause();
  // el.removeAttribute('controls');
};

var currentVid = 0;

$('.playVideos').on('click', function (e) {
  $('.playVideos').toggleClass("play-trigger");
  if (!$('.playVideos').hasClass("play-trigger")) {
    //pause video
    $('#video_0').get(0).pause();
    $('#video_1').get(0).pause();
    $('#video_2').get(0).pause();
    $('#video_0').unbind();
    $('#video_1').unbind();
    $('#video_2').unbind();
  } else {
    if(currentVid === 0) {
      playVideo($('#video_0' ).get(0));
      $('#video_0').one('ended', function (e) {
        currentVid++;
        playVideo($('#video_1' ).get(0));
        $('#video_1').one('ended', function (e) {
          currentVid++;
          playVideo($('#video_2' ).get(0));
          $('#video_2').one('ended', function (e) {
            $('.playVideos').removeClass("play-trigger");
          });
        });
      });
    } else if(currentVid === 1) {
      playVideo($('#video_1' ).get(0));
      $('#video_1').one('ended', function (e) {
        currentVid++;
        playVideo($('#video_2' ).get(0));
        $('#video_2').one('ended', function (e) {
          $('.playVideos').removeClass("play-trigger");
        });
      });
    } else {
      playVideo($('#video_2' ).get(0));
        $('#video_2').one('ended', function (e) {
          $('.playVideos').removeClass("play-trigger");
          currentVid = 0;
        });
    }
  }
});

</script>
{% endblock %}
