{% extends 'layout.html' %}
{% block content %}
<div id="video-holder" class="row-fluid video-wrapper">
  <div class="span4 video">
    <video class="vid" id="video_0" width="100%" height="100%" preload="auto" poster="{{ vids[0].poster }}">
      <source src="{{ vids[0].video }}" type="video/mp4">
    </video>
    <div class="av">
      <a href={{ vids[0].url }}><img class="avatar" src="{{ vids[0].avatar }}"></a>
      <span class="text"><strong><a href="{{ vids[0].url }}">{{ vids[0].username }}</strong> - {{ vids[0].tagline }}</a></span>
    </div>
  </div>
  <div class="span4 video">
    <video class="vid" id="video_1" width="100%" height="100%" preload="auto" poster="{{ vids[1].poster }}">
      <source src="{{ vids[1].video }}" type="video/mp4">
    </video>
    <div class="av">
      <a href="{{ vids[1].url }}"><img class="avatar" src="{{ vids[1].avatar }}"></a>
      <span class="text"><strong><a href="{{ vids[1].url }}">{{ vids[1].username }}</strong> - {{ vids[1].tagline }}</a></span>
    </div>
  </div>
  <div class="span4 video">
    <video class="vid" id="video_2" width="100%" height="100%" preload="auto" poster={{ vids[2].poster }}>
      <source src="{{ vids[2].video }}" type="video/mp4">
    </video>
    <div class="av">
      <a href="{{ vids[2].url }}"><img class="avatar" src="{{ vids[2].avatar }}"></a>
      <span class="text"><strong><a href="{{ vids[2].url }}">{{ vids[2].username }}</strong> - {{ vids[2].tagline }}</a></span>
    </div>
  </div>
</div>

<div class="searchbar">
  <form class="form" action="/vine" method="GET">
    <input type="text" name="keywords" placeholder="{{ query }}" onfocus="this.placeholder = ''">
    <button type="submit" class="submit" style="display: none;"></button>
  </form>
  <div class="refresh">
    <i class="icon-refresh"></i>
  </div>
  <a class="vine-v" href="/"></a>
  <div class="play playVideos">
    <i class="icon-play"></i>
    <i class="icon-pause"></i>
  </div>
  <div class="semi-circle">
    <i class="icon-twitter"></i>
    <div class="share-container">
      <div class="share-bubble">
      <div class="twitter-share-container">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://throughthevine.me/share/{{id}}" data-text="View {{query}} Vine Videos at">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
        <div id="copy-button" data-clipboard-text="http://throughthevine.me/share/{{ id }}" class="btn btn-primary">Copy Link</div>
      </div>
    </div>
  </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/ZeroClipboard.min.js"></script>
<script>

var clip = new ZeroClipboard(document.getElementById("copy-button"), {
  moviePath: "/swf/ZeroClipboard.swf"
});

var playVideo = function (el) {
  if (!el) { return; }
  if (el.getAttribute('controls') !== 'true') {
      el.setAttribute('controls', 'true');
  }
  el.paused ? el.play() : el.pause();
  el.removeAttribute('controls');
}


var replaceVids = function() {

  return '<div class="span4 video"><video class="vid" id="video_0" width="100%" height="100%" preload="auto" poster="{{ vids[3].poster }}">'
      + '<source src="{{ vids[3].video }}" type="video/mp4"></video><div class="av">'
      + '<a href={{ vids[3].url }}><img class="avatar" src="{{ vids[3].avatar }}"></a>'
      + '<span class="text"><strong><a href="{{ vids[3].url }}">{{ vids[3].username }}</strong> - {{ vids[3].tagline }}</a></span>'
      + '</div></div><div class="span4 video"><video class="vid" id="video_1" width="100%" height="100%" preload="auto" poster="{{ vids[4].poster }}">'
      + '<source src="{{ vids[4].video }}" type="video/mp4"></video><div class="av"><a href="{{ vids[4].url }}"><img class="avatar" src="{{ vids[4].avatar }}"></a>'
      + '<span class="text"><strong><a href="{{ vids[4].url }}">{{ vids[4].username }}</strong> - {{ vids[4].tagline }}</a></span></div>'
      + '</div><div class="span4 video"><video class="vid" id="video_2" width="100%" height="100%" preload="auto" poster={{ vids[5].poster }}>'
      + '<source src="{{ vids[5].video }}" type="video/mp4"></video><div class="av"><a href="{{ vids[5].url }}"><img class="avatar" src="{{ vids[5].avatar }}"></a>'
      + '<span class="text"><strong><a href="{{ vids[5].url }}">{{ vids[5].username }}</strong> - {{ vids[5].tagline }}</a></span></div></div>';

};


$('.semi-circle').on('click', function (e) {
  e.preventDefault();
  $('.share-bubble').toggle();
});

$('.refresh').on('click', function (e) {
  $('#video-holder').html(replaceVids());
  $('.refresh').remove();
});

$('.vid').on('click', function (e) {
  console.log(this.classList)
  e.preventDefault();

  if(this.classList.contains('playing')){
    this.pause();
  } else {
    this.play();
  }
  this.classList.toggle('playing');
});

$('.playVideos').on('click', function (e) {
  $('.playVideos').toggleClass("play-trigger");
  playVideo($('#video_0' ).get(0));
  $('#video_0').one('ended', function (e) {
    playVideo($('#video_1' ).get(0));
    $('#video_1').one('ended', function (e) {
      playVideo($('#video_2' ).get(0));
      $('#video_2').one('ended', function (e) {
        $('.playVideos').removeClass("play-trigger");
      });
    });
  });
});

</script>
{% endblock %}
