html {
  /*background-image: -webkit-linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);*/
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(#EFF9F7), to(#D0F2E9));
  background-image: -moz-linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);
  background-image: -o-linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);
  background-image: linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Helvetica", Arial, sans-serif;
  overflow: hidden; /*Take out if we do infinite scrolling*/
}

a {
  text-decoration: none;
  color: #34495e;
}

.row-fluid {
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.search-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 100px;
  margin-top: -50px;
  margin-left: -250px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgb(71,163,119);
  opacity: .75;
}

.search-box:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 235px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.search-box:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 235px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: rgb(71,163,119) transparent;
  display: block;
  width: 0;
  z-index: 0;
}

.search-box.error {
  border-color: #c0392b;
}

.vine-v {
  position: relative;
  top: -96px;
  left: 42.5%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border: 1px solid rgb(71,163,119);
  background-image: url("/vinev.png");
  background-size: cover;
}

input[type="text"] {
  position: relative;
  top: -58px;
  margin: 0 15px;
  height: 43px;
  width: 455px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgb(71,163,119) !important;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Helvetica", Arial, sans-serif;
  text-aline: center;
  font-size: 14px
}

.footer {
  position: relative;
  float: left;
  padding: 3em;
  top: -50px;
  left: 25%;
  opacity: 1;
}

.footer .icon-heart {
  position: relative;
  top: 0.15em;
  color: #ed5b65;
  font-size: 1em;
}

.searchbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 44px;
  padding: 10px;
  background-color: white;
  opacity: .75;
  border: 1px solid rgb(71,163,119);
  text-align: center;
}

.searchbar .vine-v {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 1px solid rgb(71,163,119);
  background-image: url("/vinev.png");
  background-size: cover;
}

.av {
  margin-top: 10px;
}

.av .text {
  vertical-align: top;
}

.avatar {
  float: left;
  margin: 0 10px 10px 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 1px solid rgb(71,163,119);
  border-radius: 5px;
}

.message {
}

.icon-search {
  position: relative;
  top: 22%;
  left: 25%;
  color: rgb(90,205,169);
  font-size: 1.8em;
}

.video-wrapper {
  margin-top: 25px;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(#EFF9F7), to(#D0F2E9));
  background-image: -moz-linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);
  background-image: -o-linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);
  background-image: linear-gradient(bottom top, #EFF9F7 0%, #D0F2E9 100%);
}

.video {
  background-color: white;
  padding: 25px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.vid {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.avatar {
  width: 60px;
  height: 60px;
}

.searchbar input[type="text"] {
  position: static;
  height: 24px;
}

.icon-refresh {
  font-size: 1.8em;
  margin-top: 14px;
  margin-left: -8px;
  color: #1ABC9C;
}

.searchbar .play,
.searchbar .refresh {
  position: absolute;
  top: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 1px solid #1ABC9C;
 }

 .searchbar .play {
  left: 10px;
  right: auto;
 }

 .searchbar .refresh {
  left: auto;
  right: 64px;
 }

.icon-play {
  font-size: 1.8em;
  margin-top: 14px;
  color: #1ABC9C;
}

.play-trigger .icon-play {
  display: none;
}

.icon-pause {
  display: none;
}

.play-trigger .icon-pause {
  display: block;
  margin-left: 11px;
  font-size: 1.8em;
  margin-top: 14px;
  color: #1ABC9C;
}

.searchbar .play:hover,
.searchbar .play:hover .icon-play,
.searchbar .play:hover .icon-pause,
.searchbar .refresh:hover,
.searchbar .refresh:hover .icon-refresh {
  cursor: pointer;
  background-color: #1ABC9C;
  color: white;
}

.semi-circle{
  height: 45px;
  width: 90px;
  -moz-border-radius:90px 90px 0 0;
  -webkit-border-radius:90px 90px 0 0;
  border-radius:90px 90px 0 0;
  position: absolute;
  top: -47px;
  left: 50%;
  margin-left: -23px;
  opacity: .75;
  background-color: #FFF;
  border: 1px solid rgb(71,163,119);
}

.searchbar .icon-twitter {
  font-size: 1.8em;
  margin-top: 20%;
  left: 50%;
  margin-left: -11px;
  color: #1ABC9C;
}

.searchbar .icon-twitter:hover {
  cursor: pointer;
  color: rgb(58,172,237);
}

.share-bubble {
  display: none;
  position: relative;
  left: -76px;
  bottom: 115px;
  width: 240px;
  height: 60px;
  padding: 0px;
  background: #FFFFFF;
  border: #7F7F7F solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgb(71,163,119);
  background-color: white;
}

.share-bubble:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 105px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.share-bubble:before {
  content: "";
  position: absolute;
  top: 61px;
  left: 105px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: rgb(71,163,119) transparent;
  display: block;
  width: 0;
  z-index: 0;
}

.share-bubble .btn.btn-primary{
  margin-top: 17px;
}

.twitter-share-container {
  display: inline-block;
  float: left;
  margin-top: 19px;
  margin-left: 10px;
}

.twitter-share-button {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.banner{
  position: absolute;
  top: 0;
  right: 0;
  height: 149px;
  width: 149px;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

.banner a{
  display: block;
  width: 190px;
  font-size: 13px;
  font-family: "Helvetica", Arial, sans-serif;
  background-color: #333;
  color: #FFF;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;

  position:relative;
  left: 20px;
  top: -37px;
  text-align: center;

  -moz-transform-origin: 0 0 ;
  -moz-transform:rotate(45deg);
  -moz-box-shadow:    1px 1px 5px 1px #666;

  -o-transform-origin: 0 0 ;
  -o-transform:rotate(45deg);
  -o-box-shadow:    1px 1px 5px 1px #666;

  -webkit-transform-origin: 0 0 ;
  -webkit-transform:rotate(45deg);
  -webkit-box-shadow: 1px 1px 5px 1px #666;

  -ms-transform-origin: 0 0 ;
  -ms-transform:rotate(45deg);
  -ms-box-shadow: 1px 1px 5px 1px #666;

  transform-origin: 0 0 ;
  transform:rotate(45deg);
  box-shadow: 1px 1px 5px 1px #666;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.03, #ed5b65),
    color-stop(0.05, #ed5b65),
    color-stop(0.07, #ed5b65),
    color-stop(0.93, #ed5b65),
    color-stop(0.95, #ed5b65),
    color-stop(0.97, #ed5b65)
  );

  background-image: -webkit-linear-gradient(bottom, #ed5b65 3%, #ed5b65 5%, #ed5b65 7%, #ed5b65 93%, #ed5b65 95%, #ed5b65 97%);
  background-image: -ms-linear-gradient(bottom, #ed5b65 3%, #ed5b65 5%, #ed5b65 7%, #ed5b65 93%, #ed5b65 95%, #ed5b65 97%);
  background-image: -moz-linear-gradient(bottom, #ed5b65 3%, #ed5b65 5%, #ed5b65 7%, #ed5b65 93%, #ed5b65 95%, #ed5b65 97%);
  background-image: -o-linear-gradient(bottom, #ed5b65 3%, #ed5b65 5%, #ed5b65 7%, #ed5b65 93%, #ed5b65 95%, #ed5b65 97%);
  background-image: linear-gradient(bottom, #ed5b65 3%, #ed5b65 5%, #ed5b65 7%, #ed5b65 93%, #ed5b65 95%, #ed5b65 97%);
}
