{% extends 'layout.html' %}
{% block content %}
  <div class="search-box">
    <div class="vine-v"></div>
    <form class="form" action="/vine" method="GET">
      {% if error %}
      <div class="control-group error">
        <input class="error" type="text" name="keywords" placeholder="{{ error }}">
      </div>
      {% else %}
      <input type="text" name="keywords" placeholder="Enter a keyword to search through the vine (e.g. #puppies, twerk)">
      {% endif %}
      <button type="submit" class="submit" style="display: none;"></button>
    </form>
    <div class="footer">Made with <i class="icon-heart"></i> at <a href="http://www.hackreactor.com">Hack Reactor</a></div>
  </div>
  <div class="banner"><a href="https://github.com/psyduk/throughthevine" target='_blank'>Fork Me on GitHub</a></div>
  <div class="twitter-button">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.throughthevine.me" data-text="Search for Vine videos at Through the Vine" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
{% endblock %}
